---
import Break from "../components/Break.tsx"
---

<div class="bg-zinc-800 w-full p-16">
    <div class="text-xs font-bold text-white text-center">© 2024 Coolthing. All cool rights reserved.</div>
</div>